<form name="contact" method="POST" action="/" autocomplete="true">
<fieldset>
  
  <input type="text" name="name" id="name" required autocomplete = "off" />
  <label for="name">Your name</label>
 
  <input type="email" name="email" id="email" required autocomplete = "off"   />
   <label for="email">Email address</label>

  
  <textarea name="message" id="message" placeholder="Your message" rows="7"></textarea>
  <label for="message">Your message</label>
  <button type="submit" name="submit">Send Message</button>
  </fieldset>
</form>